<!-- Se crea primero la carpeta de cabecera. -->
<!--Luego los componentes cabecera.component.html y cabecera.component.ts-->
<!--Adicionalmente se puede agregar un css si se quiere jugar con el estilo, sino no es necesario-->
<!--Tenemos que entrelazar el HTML con el TS-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../../../index.html"><img src="../../../assets/imagenes/logo4.PNG" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Próximamente</a>
            <a class="nav-item nav-link" href="#">Tienda</a>
            <a class="nav-item nav-link disabled" href="#">Sobre nosotros</a>
        </div>
    </div>
</nav>